* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    font-family: "Raleway";
}

body {
    font-family: sans-serif;
    background-color: #e20a0a;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1a1a1a5e;
    color:aqua;
    padding: 40px;
    text-align: center;
}

nav a {
    font-size: 35px;
    color: white;
    position: relative;
}

nav a span {
    padding: 5px 10px;
    background-color: rgba(255, 153, 0, 0.61);
    border-radius: 50%;
    position: absolute;
    font-size: 18px;
    top: -40%;
    right: -30%;
}

img {
    border-radius: 10px;
}

#res {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.box {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    text-align: center;
    gap: 30px 30px;
    justify-content: center;
}

@media (max-width: 1320px) {
    .box {
        grid-template-columns: repeat(3, 295px);
    }
}

@media (max-width: 1000px) {
    .box {
        grid-template-columns: repeat(2, 295px);
    }
}

@media (max-width: 720px) {
    .box {
        grid-template-columns: repeat(1, 295px);
    }
}

h5 span {
    text-decoration: line-through;
}

.productName {
    font-size: 23px;
    margin: 19px 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.price,
.quantity {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.insideBox h5 {
    margin: 5px 0 25px 0;
}

.insideBox {
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, hsla(0, 0%, 0%, 0.87) 0px 8px 16px -8px;
    padding-bottom: 35px!important;
}

.insideBox img {
    filter: drop-shadow(-10px 15px 16px #0009);
    transform: scale(0.97);
    transition: all 0.3s linear;
}

.insideBox:hover img {
    transform: scale(1);
    filter: drop-shadow(-10px 27px 16px #0009);
}

.insideBox h2 {
    transition: all 0.2s linear;
    font-weight: 800;
}

.insideBox:hover h2 {
    letter-spacing: 5px;
}

.quantity {
    font-size: 20px;
}


/* btn  */

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px 10px;
}

.Buttons a {
    margin-right: 10px;
}

.bi-plus-circle-fill,
.bi-dash-circle-fill {
    font-size: 30px;
    color: rgb(0, 145, 0);
    cursor: pointer;
}

.bi-dash-circle-fill {
    color: rgb(165, 0, 0);
}

.grand-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout,
.clear_Cart {
    background-color: green;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    margin: 0 10px;
}

.clear_Cart {
    background-color: rgb(221, 7, 0);
}

.container {
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffffbd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff8a;
    border-radius: 5px;
    color: aqua;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box img {
    max-width: 100px;
    height: auto;
}

.productName {
    font-size: 18px;
    margin: 10px 0;
}

.price {
    font-size: 16px;
    margin-bottom: 10px;
}

.quantity {
    font-size: 16px;
    margin-bottom:10px 5px;
}

.total {
    font-size: 17px;
    font-weight: 600;
}

.total span {
    color: rgb(0, 255, 191);
}

.grand-total {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff85;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color:#e20a0a;
}